version: '3.8'

services:
  auth-app:
    build: .
    restart: always
    env_file:
      - ./.env
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/auth
      - SPRING_DATA_REDIS_HOST=redis-cache
    depends_on:
      - mysql-db
      - redis-cache
    ports:
      - "8080:8080"
    networks:
      - auth-network

networks:
  auth-network:
    external: true