version: '3.8'

services:
  auth-app:
    build: .
    restart: always
    depends_on:
      - mysql-db
      - redis-cache
    ports:
      - "8080:8080"
    environment:
      MYSQL_ROOT_PASSWORD: mysecretpassword

volumes:
  mysql-data:
    driver: local