version: '3.8'

services:
  auth-app:
    build: .
    restart: always
    env_file:
      - ./.env
    depends_on:
      - mysql-db
      - redis-cache
    ports:
      - "8080:8080"
    networks:
      - auth-network

networks:
  auth-network:
    external: true